## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [16]:
np.random.randint(10000,100000)

90995

In [38]:
people = []
country = []
for i in range(4):
    locals()['x%s'%i] = np.random.randint(10000,100000)
    people.append(locals())

In [39]:
data = {'country': ['A', 'B', 'C', 'D'],
        'people' : [x0, x1, x2, x3]}
data = pd.DataFrame(data)
print(data)

  country  people
0       A   21896
1       B   47667
2       C   83688
3       D   51706

In [40]:
data[data['people']==data['people'].max()]

  country  people
2       C   83688